.footer {
  padding: 20px;
  background: #111;
  color: white;
  text-align: center;
}
.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer-socials {
  margin-top: 10px;
}
.footer a {
  color: #ff007f;
  text-decoration: none;
}
